
doctype html
html(lang="en")
  head
    title OpenSCN
    link(rel="stylesheet", href="http://localhost:3000/assets/email/openscn.css")

  body(class="main")
    div(class="main__container")
      block content
