extends partials/main-layout.partial.pug

include partials/mixins.pug

block content
  p You have requested password reset

  +cta(clientUrl + clientPath + "?" + clientQuery, "Reset password")

  p In case the link doesn't work, you can use the following token to create your account at
    a(href=clientUrl) http://localhost:5173
    br
    code= token
